.imageCover {
	position: absolute;
	width: 200px;
	height: 75px;
}
.details {
	position: absolute;
	left: 202px;
	width: 600px;
	background-color: #2c4a5c;
	height: 75px;
	display: flex;
}

.details-left {
	width: 400px;
	margin: 0px;
}

.title {
	margin: 0px;
	margin-top: 4px;
	font-size: 18px;
	color: white;
	padding-left: 1%;
}

.des {
	margin: 0px;
	padding-left: 1%;
	padding-top: 2%;
	color: #e2e2e2;
	font-size: 14px;
	font-weight: 300;
}

.item-price {
	position: absolute;
	top: 28px;
	left: 474px;
	background-color: transparent;
}

.price-number {
	margin: 0px;
	text-align: center;
	color: #ffffff;
	font-weight: 400;
	font-size: 14px;
	margin-left: 24px;
}

.hover-item {
	position: absolute;
	left: 802px;
	width: 248px;
	bottom: 0px;
	top: 0px;
	height: 540px;
	max-width: 300px;
	background-color: #c0dbec;
}

.hover-title {
	margin: 0px;
	margin-top: 4px;
	font-size: 18px;
	color: #0068ab;
	padding-left: 2%;
}

.hover-rating {
	margin: 0px;
	margin-top: 4%;
	margin-left: 2%;
	background-color: #236b99;
	border-radius: 3px;
	height: 24px;
	color: #ffffff;
	margin-bottom: 4%;
	display: inline-block;
}

.category {
	display: inline-block;
	margin-left: 2%;
	background-color: #236b99;
	border-radius: 3px;
	margin-bottom: 4%;
	color: #ffffff;
}

.rating {
	color: #0bce4c;
}

.item-item:hover .details {
	background-color: #c0dbec;
}

.item-item:hover .title {
	color: #0068ab;
}

.item-item:hover .des {
	color: #656565;
}

.item-item:hover .price-number {
	color: #000000;
}

.hover-img {
	width: 240px;
	margin-left: 1%;
}

.item-item {
	width: 500px;
	height: 88px;
}

@media only screen and (max-width: 414px) {
	.imageCover {
		position: absolute;
		width: 144px;
		height: 55px;
	}
	.details {
		position: absolute;
		left: 144px;
		width: 270px;
		background-color: #2c4a5c;
		height: 55px;
		display: flex;
	}
	.title {
		margin: 0px;
		margin-top: 2px;
		font-size: 14px;
		color: white;
		padding-left: 1%;
	}

	.des {
		display: none;
	}

	.item-price {
		position: absolute;
		top: 28px;
		left: 180px;
		background-color: transparent;
	}

	.price-number {
		margin: 0px;
		text-align: center;
		color: #ffffff;
		font-weight: 400;
		font-size: 14px;
		margin-left: 24px;
	}

	.item-item {
		width: 414px;
		height: 60px;
	}

	.hover-item {
		display: none;
	}
}
