.khuyenMai {
	position: absolute;
	top: 40vw;
	left: 22%;
}

.khuyenMai > img {
	width: 22%;
	height: 15%;
}

img + img {
	margin-left: 2%;
}

.advertise_left {
	position: fixed;
	top: 8vw;
	width: 18%;
	height: auto;
	z-index: 2;
}

.advertise_right {
	position: fixed;
	top: 6vw;
	left: 80%;
	width: 18%;
	height: auto;
	z-index: 2;
}

.btn_khuyenmai {
	position: absolute;
	width: 12vw;
	height: 2.4vw;
	left: 22%;
	top: 51vw;

	background: #ffffff;
	border: 1px solid #0068ab;
	box-sizing: border-box;
	border-radius: 50px;
}

.btn_khuyenmai > .text {
	font-weight: 700;
	font-size: 0.9vw;
	color: #0068ab;
	margin-left: 30%;
	margin-top: 4%;
}

.btn_khuyenmai:hover {
	background-color: #0068ab;
}

.btn_khuyenmai:hover > .text {
	color: #ffffff;
}

.indicator_2 {
	margin-left: 0.4vw !important;
	content: url("../../assets/icon_website/small_indicator_2.svg") !important;
	border-radius: 0% !important;
	margin-top: 2vw !important;
	width: 2.2vw !important;
}

.indicator-img {
	margin-top: 2vw;
	margin-left: 0.4vw !important;
	width: 2.2vw;
}

.div-carousel-1 {
	position: absolute;
	left: 19%;
	top: 54vw;
}

.div-carousel-2 {
	position: absolute;
	left: 19%;
	top: 69vw;
}

.carousel-1 {
	height: 12vw;
	width: 63vw;
}

#first {
	margin-left: 5%;
}

.item-img {
	width: 13.3vw;
	height: 6vw;
}

.item-km {
	margin-left: 2%;
}

.item-list {
	display: flex;
}

.contain-price {
	position: absolute;
	width: 13.3vw;
	height: 1.7vw;
	background: #438bb9;
}

.discount-price {
	position: absolute;
	width: 45%;
	height: 1.7vw;
	top: 2%;
	left: 55%;

	background: #525252;
}

.discount-1 {
	width: 100%;
	height: 1.6vw;
	background-color: #ffffff;
	margin: 0px;
	color: #1bdd5d;
	font-weight: 500;
	font-size: 0.9vw;
	padding-top: 2%;
}

.right-price {
	position: absolute;
	left: 46%;
}

.right-price > p {
	margin: 0px;
	margin-left: 15%;
	font-size: 0.5vw;
	text-decoration-line: line-through;
	color: #c2c2c2;
	width: 120%;
}

.right-price > h4 {
	margin: 0px;
	font-size: 0.7vw;
	color: #c3e8ff;
	font-weight: 500;
}

.left-price {
	position: absolute;
	width: 34%;
}

.btn_muanhieu {
	position: absolute;
	width: 12vw;
	height: 2.4vw;
	left: 22%;
	top: 65vw;

	background: #ffffff;
	border: 1px solid #0068ab;
	box-sizing: border-box;
	border-radius: 50px;
}

.btn_muanhieu > .text {
	font-weight: 700;
	font-size: 0.9vw;
	color: #0068ab;
	margin-left: 13%;
	margin-top: 4%;
}

.btn_muanhieu:hover {
	background-color: #0068ab;
}

.btn_muanhieu:hover > .text {
	color: #ffffff;
}

.btn_wrapper {
	display: flex;
	width: 4vw;
}

.next_icon,
.prev_icon {
	margin-top: 8vw;
	margin-bottom: 19vw;
	width: 1.8vw;
}

@media only screen and (max-width: 420px) {
	.middle {
		width: 414px;
	}

	.advertise_left,
	.advertise_right {
		display: none;
	}

	.khuyenMai {
		position: absolute;
		top: 232px;
		left: 12px;
	}

	.khuyenMai > img {
		width: 190px;
		height: 111px;
	}

	img + img {
		margin-left: 2px;
	}

	.khuyenMai > .hide_km {
		display: none;
	}

	.btn_khuyenmai {
		position: absolute;
		width: 91px;
		height: 25px;
		left: 16px;
		top: 353px;

		background: #ffffff;
		border: 1px solid #0068ab;
		box-sizing: border-box;
		border-radius: 50px;
	}

	.btn_khuyenmai > .text {
		font-weight: 700;
		font-size: 12px;
		color: #0068ab;
		margin-left: 10px;
		margin-top: 2px;
	}

	.indicator_2 {
		display: none !important;
	}

	.div-carousel-1 {
		position: absolute;
		width: 414px;
		left: 0px;
		top: 390px;
	}

	.carousel-1 {
		height: 150px;
		width: 404px;
	}

	.div-carousel-2 {
		position: absolute;
		width: 396px !important;
		left: 0px !important;
		height: 150px;
	}

	#first {
		margin-left: 15px;
	}

	.item-img {
		width: 185px;
		height: 87px;
	}

	.item-km {
		margin-left: 16px;
		width: 180px;
		height: 100px;
	}

	.item-list {
		display: flex;
	}

	.contain-price {
		position: absolute;
		width: 185px;
		height: 30px;
		background: #438bb9;
		top: 86px;
	}

	.discount-price {
		position: absolute;
		width: 108px;
		height: 28px;
		top: 2px;
		left: 78px;

		background: #525252;
	}

	.discount-1 {
		width: 33px;
		height: 26px;
		background-color: #ffffff;
		margin: 0px;
		color: #1bdd5d;
		font-weight: 500;
		font-size: 12px;
		padding-top: 2px;
	}

	.right-price {
		position: absolute;
		left: 35px;
	}

	.right-price > p {
		margin: 0px;
		margin-left: 24px;
		font-size: 8px;
		text-decoration-line: line-through;
		color: #c2c2c2;
	}

	.right-price > h4 {
		margin: 0px;
		margin-left: 18px;
		font-size: 10px;
		color: #c3e8ff;
		font-weight: 500;
	}

	.left-price {
		position: absolute;
		width: 40px;
	}

	.btn_muanhieu {
		position: absolute;
		width: 126px;
		height: 25px;
		left: 16px;
		top: 528px;

		background: #ffffff;
		border: 1px solid #0068ab;
		box-sizing: border-box;
		border-radius: 50px;
	}

	.btn_muanhieu > .text {
		font-weight: 700;
		font-size: 11px;
		color: #0068ab;
		margin-left: 3px;
		margin-top: 4px;
	}

	.div-carousel-2 {
		position: absolute;
		width: 400px;
		left: 16px;
		top: 568px;
	}

	.next_icon,
	.prev_icon {
		margin-bottom: 140px;
	}
}

@media only screen and (max-width: 768px) and (min-width: 420px) {
	.advertise_left,
	.advertise_right {
		display: none;
	}

	.khuyenMai {
		position: absolute;
		top: 62vw;
		left: 7vw;
	}

	.khuyenMai > img {
		width: 29%;
		height: 25%;
	}

	img + img {
		margin-left: 2%;
	}

	.btn_khuyenmai {
		position: absolute;
		width: 21vw;
		height: 4vw;
		left: 7vw;
		top: 83vw;

		background: #ffffff;
		border: 1px solid #0068ab;
		box-sizing: border-box;
		border-radius: 50px;
	}

	.btn_khuyenmai > .text {
		font-weight: 700;
		font-size: 1.6vw;
		color: #0068ab;
		margin-left: 28%;
		margin-top: 4%;
	}

	.indicator_2 {
		margin-left: 0.4vw !important;
		content: url("../../assets/icon_website/small_indicator_2.svg") !important;
		border-radius: 0% !important;
		margin-top: 2vw !important;
		width: 2.2vw !important;
	}

	.indicator-img {
		margin-top: 2vw;
		margin-left: 0.4vw !important;
		width: 2.2vw;
	}

	.div-carousel-1 {
		position: absolute;
		left: 3vw;
		top: 88vw;
	}

	.div-carousel-2 {
		position: absolute;
		left: 3vw !important;
		top: 88vw;
		width: 93%;
	}

	.div-carousel-2 > .carousel-1 {
		width: 96vw;
		left: 0.5vw;
	}

	.div-carousel-2 #first {
		margin-left: 3.5vw;
	}

	.carousel-1 {
		height: 16vw;
		width: 95vw;
	}

	#first {
		margin-left: 4vw;
	}

	.item-img {
		width: 21vw;
		height: 9.9vw;
	}

	.item-km {
		margin-left: 1%;
		height: 9.9vw;
	}

	.contain-price {
		position: absolute;
		width: 21vw;
		height: 3.3vw;
		background: #438bb9;
	}

	.discount-price {
		position: absolute;
		width: 45%;
		height: 100%;
		left: 55%;

		background: #525252;
	}

	.discount-1 {
		width: 100%;
		height: 100%;
		background-color: #ffffff;
		margin: 0px;
		color: #1bdd5d;
		font-weight: 500;
		font-size: 1.4vw;
		padding-top: 0.5vw;
		padding-bottom: 0.9vw;
	}

	.right-price > p {
		margin: 0px;
		margin-top: 3%;
		margin-left: 15%;
		font-size: 0.9vw;
		text-decoration-line: line-through;
		color: #c2c2c2;
		width: 120%;
	}

	.right-price > h4 {
		margin: 0px;
		font-size: 1.2vw;
		color: #c3e8ff;
		font-weight: 500;
	}

	.btn_muanhieu {
		position: absolute;
		width: 21vw;
		height: 4vw;
		left: 7vw;
		top: 110vw;

		background: #ffffff;
		border: 1px solid #0068ab;
		box-sizing: border-box;
		border-radius: 50px;
	}

	.btn_muanhieu > .text {
		font-weight: 700;
		font-size: 1.6vw;
		color: #0068ab;
		margin-left: 11%;
		margin-top: 4.5%;
	}

	.div-carousel-2 {
		position: absolute;
		top: 69vw;
		left: 3vw;
		top: 115vw;
	}

	.indicator-img {
		margin-top: 4vw !important;
	}

	.indicator_2 {
		margin-top: 4vw !important;
	}
}
