.bigPanel {
	width: 53vw;
	height: 29vw;
	border-radius: 3vw;
	margin-left: 7%;
}

.carousel {
	position: absolute;
	top: 5vw;
	width: 62%;
	height: 80%;
	left: 18%;
}

.icon-big {
	width: 2vw;
	height: 2vw;
}

.logo2 {
	display: none;
}

.indicator {
	margin-left: 0.4vw;
	width: 8vw;
}

.indicator_1_2 {
	width: 8vw;
	margin-left: 0.4vw !important;
	content: url("../../assets/icon_website/indicator_2.svg") !important;
	border-radius: 0% !important;
}

.Carousel-indicators-2 {
	height: 2vw !important;
	margin-top: 1vw !important;
}

.big-carousel {
	height: 33vw;
}

.price {
	position: absolute;
	top: 25vw;
	left: 80%;
	width: 12%;
	height: 2.5vw;
	background: rgba(38, 38, 38, 0.5);
	border-radius: 0.4vw;
}

.discount {
	color: #1bdd5d;
	font-size: 1vw;
	text-align: center;
	margin-top: 20%;
}

.left {
	position: absolute;
	border-radius: 5px;
	width: 36%;
	height: 100%;
	background: #4e4e4e;
}

.right {
	position: absolute;
	left: 40%;
}

.right > h4 {
	margin: 0px;
	font-size: 1vw;
	font-weight: 700;
	color: #ffffff;
	margin-top: 1%;
}

.right > p {
	margin: 0px;
	margin-top: 1%;
	font-size: 0.6vw;
	color: #c2c2c2;
	padding-left: 30%;
	text-decoration-line: line-through;
}

#game2 {
	padding-left: 30%;
}

#the-witcher {
	margin-left: 2%;
	padding-left: 1%;
}

.ass-price {
	position: absolute;
	top: 25.5vw;
	left: 84%;
	width: 8%;
	height: 2vw;
	background: rgba(0, 104, 171, 0.5);
	border-radius: 0.4vw;
}

.ass-price > h4 {
	margin: 0px;
	font-size: 0.9vw;
	font-weight: 700;
	color: #ffffff;
	margin-top: 7%;
	margin-left: 3%;
}

@media only screen and (max-width: 420px) {
	.bigPanel {
		width: 385px;
		height: 214px;
		border-radius: 10px;
		margin-left: 0px;
	}

	.carousel {
		position: absolute;
		top: 14px;
		width: 385px;
		height: 214px;
		left: 10px;
	}

	.big-carousel {
		height: 214px;
	}

	.indicator {
		display: none;
	}

	.indicator_1_2 {
		display: none !important;
	}

	.price {
		position: absolute;
		top: 177px;
		left: 300px;
		width: 80px;
		height: 29px;
		background: rgba(38, 38, 38, 0.5);
		border-radius: 5px;
	}

	.discount {
		color: #1bdd5d;
		font-size: 11px;
		text-align: center;
		margin: 0px;
		width: 29px;
		height: 29px;
		margin-top: 6px;
	}

	.left {
		position: absolute;
		border-radius: 5px;
		width: 29px;
		height: 29px;
		background: #4e4e4e;
	}

	.right {
		position: absolute;
		left: 20px;
	}

	.right > h4 {
		margin: 0px;
		font-size: 10px;
		font-weight: 700;
		color: #ffffff;
		margin-top: 0px;
		margin-left: 10px;
	}

	.right > p {
		margin: 0px;
		font-size: 8px;
		color: #c2c2c2;
		padding-left: 12px;
		text-decoration-line: line-through;
	}

	#game2 {
		padding-left: 10px;
	}

	#the-witcher {
		margin-left: 12px;
	}

	.ass-price {
		position: absolute;
		top: 180px;
		left: 300px;
		width: 80px;
		height: 28px;
		background: rgba(0, 104, 171, 0.5);
		border-radius: 5px;
	}

	.ass-price > h4 {
		margin: 0px;
		font-size: 10px;
		font-weight: 700;
		color: #ffffff;
		margin-top: 6px;
		margin-left: 8px;
	}
}
