.nav {
	position: absolute;
	left: 22%;
	width: 55%;
	top: 1%;
	display: flex;
}

.intro,
.support,
.setting,
.cart {
	background-color: white;
	width: 13%;
	height: 8%;
	margin-left: 2%;
	border-radius: 24px;
	font-weight: 700;
	color: #0068ab;
	padding-top: 1%;
	padding-left: 4%;
	padding-bottom: 0.6%;
}

.cart {
	padding-bottom: 1%;
}

.dropdown {
	background-color: white;
	margin-left: 6%;
	border-radius: 24px;
	font-weight: 700;
	color: #0068ab;
	padding-top: 4%;
	padding-bottom: 3%;
	padding-left: 8%;
}

.menu {
	width: 23%;
}

.dropdown > .logo {
	width: 9%;
	height: 9%;
	padding-top: 1%;
}

.logo {
	width: 18%;
	height: 8%;
	margin-right: 8px;
	display: inline-block;
	margin-top: 0px;
}

#logo-gt {
	width: 9%;
}

.text {
	position: absolute;
	height: 13%;
	display: inline-block;
	margin-top: 0px;
	font-size: 0.9vw;
}

.item_menu > .logo {
	width: 15%;
	height: 60%;
}

.dropdown_menu {
	display: none;
	margin-left: 5.7%;
}

.dropdown:hover,
.intro:hover,
.support:hover,
.cart:hover,
.setting:hover {
	background-color: #0068ab;
}

.intro:hover > .logo {
	content: url("../../assets/icon_website/intro_2.svg");
}

.intro:hover > .text {
	color: #ffffff;
}

.support:hover > .logo {
	content: url("../../assets/icon_website/support_2.svg");
}

.support:hover > .text {
	color: #ffffff;
}

.cart:hover > .logo {
	content: url("../../assets/icon_website/cart_2.svg");
}

.cart:hover > .text {
	color: #ffffff;
}

.setting:hover > .logo {
	content: url("../../assets/icon_website/settings_2.svg");
}

.setting:hover > .text {
	color: #ffffff;
}

.menu {
	display: inline-block;
	position: relative;
	z-index: 3;
}

.item_menu {
	background-color: #0068ab;
	width: 85.7%;
	height: 6%;
	font-weight: 500;
	color: #ffffff;
	padding-left: 6%;
	padding-top: 4%;
	padding-right: 8%;
	padding-bottom: 2%;
}

.item_menu:last-child {
	border-radius: 0px 0px 24px 24px;
}

.menu:hover > .dropdown_menu {
	display: block;
}

.menu:hover > .dropdown {
	border-radius: 24px 24px 0px 0px;
}

.menu:hover > .dropdown {
	background-color: #0068ab;
}

.menu:hover > .dropdown > .logo {
	content: url("../../assets/icon_website/menu_2.svg");
}

.menu:hover > .dropdown > .text {
	color: #ffffff;
}

@media only screen and (max-width: 420px) {
	.dropdown > .text {
		display: none;
	}
	.dropdown {
		background-color: transparent;
		position: absolute;
		top: -30px;
		left: 6px;
	}

	.menu {
		z-index: 5;
	}
	.nav {
		left: 0px;
		top: 0px;
		width: 414px;
	}
	.dropdown,
	.intro,
	.support,
	.setting,
	.cart {
		background-color: transparent;
		width: 180px;
		height: 26px;
		margin-left: 0px;
		border-radius: 0px;
		font-weight: 700;
		color: #0068ab;
	}

	.text {
		font-size: 16px;
	}

	.logo {
		width: 30px;
		height: 20px;
	}

	.logo2 {
		margin-left: 15px;
	}

	.intro,
	.support,
	.setting,
	.cart {
		display: none;
	}

	.dropdown:hover,
	.intro:hover,
	.support:hover,
	.cart:hover,
	.setting:hover {
		background-color: transparent;
	}

	.dropdown > .logo {
		content: url("../../assets/icon_website/menu_2.svg");
		height: 20px;
		width: 20px;
	}

	.dropdown_menu {
		background-color: #ffffff;
		width: 229px;
		height: 1178px;
	}

	.item_menu {
		display: none;
	}

	.menu:hover > .dropdown {
		border-radius: 0px;
		background-color: transparent;
	}

	.menu {
		position: fixed;
	}

	.menu:hover > .dropdown > .text {
		display: inline;
		position: fixed;
		top: 95px;
		color: #0068ab !important;
		margin-left: 1.5%;
	}

	.logo2 {
		display: none;
	}

	.menu:hover .logo2 {
		display: inline-block;
		position: fixed;
		top: 100px;
		left: 6px;
		content: url("../../assets/icon_website/menu_1.svg");
	}

	.intro,
	.support,
	.setting,
	.cart {
		display: none;
	}

	.intro > .text {
		display: none;
	}

	.intro > .logo {
		display: none;
	}

	.support > .text {
		display: none;
	}

	.support > .logo {
		display: none;
	}

	.setting > .text {
		display: none;
	}

	.setting > .logo {
		display: none;
	}

	.cart > .text {
		display: none;
	}

	.cart > .logo {
		display: none;
	}

	.nav:hover > .intro,
	.support,
	.setting,
	.cart {
		display: inline-block;
	}

	.nav:hover > .cart > .text {
		position: fixed;
		top: 150px;
		left: 50px;
		color: #0068ab !important;
		z-index: 5;
		display: inline-block;
	}
	.nav:hover > .cart > .logo {
		position: fixed;
		top: 150px;
		left: 14px;
		color: #0068ab !important;
		z-index: 5;
		display: inline-block;
	}

	.nav:hover > .support > .text {
		position: fixed;
		top: 200px;
		left: 50px;
		color: #0068ab !important;
		z-index: 5;
		display: inline-block;
	}
	.nav:hover > .support > .logo {
		position: fixed;
		top: 200px;
		left: 14px;
		color: #0068ab !important;
		z-index: 5;
		display: inline-block;
	}

	.nav:hover > .intro > .text {
		position: fixed;
		top: 250px;
		left: 50px;
		color: #0068ab !important;
		z-index: 5;
		display: inline-block;
	}
	.nav:hover > .intro > .logo {
		position: fixed;
		top: 250px;
		left: 14px;
		color: #0068ab !important;
		z-index: 5;
		display: inline-block;
	}

	.nav:hover > .setting > .text {
		position: fixed;
		top: 300px;
		left: 50px;
		color: #0068ab !important;
		z-index: 5;
		display: inline-block;
	}
	.nav:hover > .setting > .logo {
		position: fixed;
		top: 300px;
		left: 14px;
		color: #0068ab !important;
		z-index: 5;
		display: inline-block;
	}

	.cart {
		width: 50px;
	}
}
