.nav {
	position: absolute;
	left: 22%;
	width: 55%;
	top: 1.5vw;
	display: flex;
}

.intro,
.setting,
.cart {
	background-color: white;
	width: 7.6vw;
	height: 1.3vw;
	margin-left: 2%;
	border-radius: 24px;
	font-weight: 700;
	color: #0068ab;
	padding-top: 0.4vw;
	padding-left: 1.6vw;
	padding-bottom: 0.4vw;
}

.support {
	background-color: white;
	width: 7vw;
	height: 1.3vw;
	margin-left: 2%;
	border-radius: 24px;
	font-weight: 700;
	color: #0068ab;
	padding-top: 0.4vw;
	padding-left: 2.4vw;
	padding-bottom: 0.4vw;
}

.cart {
	padding-bottom: 1%;
}

.dropdown {
	background-color: white;
	margin-left: 0.2vw;
	border-radius: 24px;
	font-weight: 700;
	color: #0068ab;
	padding-top: 0.4vw;
	padding-left: 1vw;
	padding-bottom: 0.4vw;
	height: 1.3vw;
}

.menu {
	width: 12vw;
}

.dropdown > .logo {
	width: 1vw;
	height: 1vw;
	padding-top: 0.3vw;
}

.logo {
	width: 1.3vw;
	height: 1.3vw;
	margin-right: 1vw;
	display: inline-block;
	margin-top: 0px;
	position: absolute;
}

#logo-gt {
	width: 1.3vw;
}

.text {
	position: absolute;
	height: 13%;
	display: inline-block;
	margin-top: 0px;
	font-size: 0.9vw;
	margin-left: 1.8vw;
}

.item_menu > .logo {
	width: 1.4vw;
	height: 1.4vw;
}

.dropdown_menu {
	display: none;
	margin-left: 0.18vw;
}

.dropdown:hover,
.intro:hover,
.support:hover,
.cart:hover,
.setting:hover {
	background-color: #0068ab;
}

.intro:hover > .logo {
	content: url("../../assets/icon_website/intro_2.svg");
}

.intro:hover > .text {
	color: #ffffff;
}

.support:hover > .logo {
	content: url("../../assets/icon_website/support_2.svg");
}

.support:hover > .text {
	color: #ffffff;
}

.cart:hover > .logo {
	content: url("../../assets/icon_website/cart_2.svg");
}

.cart:hover > .text {
	color: #ffffff;
}

.setting:hover > .logo {
	content: url("../../assets/icon_website/settings_2.svg");
}

.setting:hover > .text {
	color: #ffffff;
}

.menu {
	display: inline-block;
	position: relative;
	z-index: 3;
}

.item_menu {
	background-color: #0068ab;
	width: 10.17vw;
	height: 1.6vw;
	font-weight: 500;
	color: #ffffff;
	padding-top: 0.4vw;
	padding-left: 1vw;
	padding-bottom: 0.4vw;
	padding-right: 0.65vw;
}

.item_menu:last-child {
	border-radius: 0px 0px 24px 24px;
}

.menu:hover > .dropdown_menu {
	display: block;
}

.menu:hover > .dropdown {
	border-radius: 24px 24px 0px 0px;
}

.menu:hover > .dropdown {
	background-color: #0068ab;
}

.menu:hover > .dropdown > .logo {
	content: url("../../assets/icon_website/menu_2.svg");
}

.menu:hover > .dropdown > .text {
	color: #ffffff;
}

@media only screen and (max-width: 420px) {
	.dropdown > .text {
		display: none;
	}
	.dropdown {
		background-color: transparent;
		position: absolute;
		top: -30px;
		left: 6px;
	}

	.menu {
		z-index: 5;
	}
	.nav {
		left: 0px;
		top: 0px;
		width: 414px;
	}
	.dropdown,
	.intro,
	.support,
	.setting,
	.cart {
		background-color: transparent;
		width: 180px;
		height: 26px;
		margin-left: 0px;
		border-radius: 0px;
		font-weight: 700;
		color: #0068ab;
	}

	.text {
		font-size: 16px;
	}

	.logo {
		width: 30px;
		height: 20px;
	}

	.logo2 {
		margin-left: 15px;
	}

	.intro,
	.support,
	.setting,
	.cart {
		display: none;
	}

	.dropdown:hover,
	.intro:hover,
	.support:hover,
	.cart:hover,
	.setting:hover {
		background-color: transparent;
	}

	.dropdown > .logo {
		content: url("../../assets/icon_website/menu_2.svg");
		height: 20px;
		width: 20px;
	}

	.dropdown_menu {
		background-color: #ffffff;
		width: 229px;
		height: 1178px;
	}

	.item_menu {
		display: none;
	}

	.menu:hover > .dropdown {
		border-radius: 0px;
		background-color: transparent;
	}

	.menu {
		position: fixed;
	}

	.menu:hover > .dropdown > .text {
		display: inline;
		position: fixed;
		top: 95px;
		color: #0068ab !important;
		margin-left: 11%;
	}

	#logo-gt {
		width: 5.5vw;
		height: 6vw;
		margin-left: 1%;
	}

	.logo2 {
		display: none;
	}

	.menu:hover .logo2 {
		display: inline-block;
		position: fixed;
		top: 100px;
		left: 6px;
		content: url("../../assets/icon_website/menu_1.svg");
	}

	.intro,
	.support,
	.setting,
	.cart {
		display: none;
	}

	.intro > .text {
		display: none;
	}

	.intro > .logo {
		display: none;
	}

	.support > .text {
		display: none;
	}

	.support > .logo {
		display: none;
	}

	.setting > .text {
		display: none;
	}

	.setting > .logo {
		display: none;
	}

	.cart > .text {
		display: none;
	}

	.cart > .logo {
		display: none;
	}

	.nav:hover > .intro,
	.support,
	.setting,
	.cart {
		display: inline-block;
	}

	.nav:hover > .cart > .text {
		position: fixed;
		top: 150px;
		left: 50px;
		color: #0068ab !important;
		z-index: 5;
		display: inline-block;
	}
	.nav:hover > .cart > .logo {
		position: fixed;
		top: 150px;
		left: 14px;
		color: #0068ab !important;
		z-index: 5;
		display: inline-block;
	}

	.nav:hover > .support > .text {
		position: fixed;
		top: 200px;
		left: 50px;
		color: #0068ab !important;
		z-index: 5;
		display: inline-block;
	}
	.nav:hover > .support > .logo {
		position: fixed;
		top: 200px;
		left: 14px;
		color: #0068ab !important;
		z-index: 5;
		display: inline-block;
	}

	.nav:hover > .intro > .text {
		position: fixed;
		top: 250px;
		left: 50px;
		color: #0068ab !important;
		z-index: 5;
		display: inline-block;
	}
	.nav:hover > .intro > .logo {
		position: fixed;
		top: 250px;
		left: 14px;
		color: #0068ab !important;
		z-index: 5;
		display: inline-block;
	}

	.nav:hover > .setting > .text {
		position: fixed;
		top: 300px;
		left: 50px;
		color: #0068ab !important;
		z-index: 5;
		display: inline-block;
	}
	.nav:hover > .setting > .logo {
		position: fixed;
		top: 300px;
		left: 14px;
		color: #0068ab !important;
		z-index: 5;
		display: inline-block;
	}

	.cart {
		width: 50px;
	}
}

@media only screen and (max-width: 768px) and (min-width: 420px) {
	.nav {
		width: 83.5vw;
		left: 7vw;
		top: 3vw;
	}

	.intro,
	.setting,
	.cart {
		background-color: white;
		width: 13vw;
		height: 1.3vw;
		margin-left: 1%;
		border-radius: 24px;
		font-weight: 700;
		color: #0068ab;
		/* padding-top: 0.7vw; */
		padding-left: 3vw;
		padding-bottom: 1.37vw;
	}

	.support {
		background-color: white;
		width: 12vw;
		height: 1.3vw;
		margin-left: 1%;
		border-radius: 24px;
		font-weight: 700;
		color: #0068ab;
		padding-left: 4vw;
		padding-bottom: 1.37vw;
	}

	.dropdown {
		background-color: white;
		margin-left: 0.2vw;
		border-radius: 24px;
		font-weight: 700;
		color: #0068ab;
		padding-left: 0.7vw;
		padding-bottom: 1.38vw;
		height: 1.3vw;
	}

	.menu {
		width: 19.5vw;
	}

	.dropdown > .logo {
		width: 1.4vw;
		height: 1.4vw;
		margin-top: 0.3vw;
		margin-left: 0.5vw;
	}

	.logo {
		width: 2.6vw;
		height: 2.6vw;
	}

	#logo-gt {
		width: 2.4vw;
		height: 2.5vw;
	}

	.text {
		position: absolute;
		height: 13%;
		display: inline-block;
		margin-top: 0.3vw;
		font-size: 1.4vw;
		margin-left: 3vw;
	}

	.item_menu {
		background-color: #0068ab;
		width: 17vw;
		height: 1.6vw;
		font-weight: 500;
		color: #ffffff;
		padding-top: 1vw;
		padding-left: 1vw;
		padding-bottom: 1vw;
		padding-right: 0.65vw;
	}

	.item_menu > .logo {
		margin-top: 0.5vw;
		width: 2vw;
	}
}
