.footer {
	position: absolute;
	top: 92%;
	left: 22%;
	width: 55%;
}

.details-footer {
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}

.logo-footer {
	margin-top: 1%;
	margin-bottom: 1%;
	width: 22%;
	height: 20%;
}

.content-footer {
	margin: 0px;
	float: right;
	width: 78%;
	margin-top: 2%;
	margin-left: 1%;
	color: #ffffff;
	font-size: 0.8vw;
}

.icon-footer {
	width: 12%;
}

.contact-details {
	margin: 0px;
	color: #ffffff;
	padding-top: 5%;
	margin-left: 5%;
	font-size: 0.7vw;
}

.facebook,
.phone {
	width: auto;
	display: flex;
	margin-top: 2%;
	padding-right: 2%;
	margin-left: 1%;
}

.phone {
	width: 25%;
}

.google {
	display: flex;
	width: auto;
	margin-left: 1%;
	margin-top: 2%;
	padding-right: 2%;
}

.contact-footer {
	display: flex;
}

.facebook,
.google {
	border-right: 1px solid #ffffff;
}

@media only screen and (max-width: 414px) {
	.footer {
		position: absolute;
		top: 1420px;
		left: 16px;
		width: 396px;
	}

	.details-footer {
		display: none;
	}

	.contact-footer {
		display: inline-block;
	}

	.facebook,
	.google {
		border-right: none;
	}

	.facebook,
	.google,
	.phone {
		width: 340px;
		display: flex;
		margin-left: 7%;
		margin-top: 1%;
	}

	.contact-details {
		font-size: 11px;
	}

	.icon-footer {
		width: 30px;
		height: 40px;
	}
}
