.footer {
	position: absolute;
	top: 2860px;
	left: 424px;
	width: 1100px;
}

.details-footer {
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}

.logo-footer {
	margin-top: 1%;
	margin-bottom: 1%;
	width: 227px;
	height: 64px;
}

.content-footer {
	margin: 0px;
	float: right;
	width: 78%;
	margin-top: 2%;
	color: #ffffff;
}

.icon-footer {
	margin-top: 2%;
	width: 26px;
}

.contact-details {
	margin: 0px;
	color: #ffffff;
	margin-top: 5%;
	margin-left: 3%;
}

.facebook,
.google,
.phone {
	width: 390px;
	display: flex;
	margin-left: 1%;
	margin-top: 2%;
}

.contact-footer {
	display: flex;
}

.facebook,
.google {
	border-right: 1px solid #ffffff;
}

@media only screen and (max-width: 414px) {
	.footer {
		position: absolute;
		top: 1480px;
		left: 16px;
		width: 414px;
	}

	.details-footer {
		display: none;
	}

	.contact-footer {
		display: inline-block;
	}

	.facebook,
	.google {
		border-right: none;
	}

	.facebook,
	.google,
	.phone {
		width: 340px;
		display: flex;
		margin-left: 7%;
		margin-top: 1%;
	}
}
