.list {
	position: absolute;
	top: 84vw;
	left: 22%;
}

.list_button {
	position: absolute;
	top: 82vw;
	left: 22%;
	width: 30vw;
	height: 2vw;
}

.item_item {
	margin: 5%;
}

.list_button > button {
	background: transparent;
	border-radius: 10px 10px 0px 0px;
	height: 2vw;
	margin-left: 1%;
	border: none;
	font-size: 0.8vw;
	color: #ffffff;
	cursor: pointer;
}

.checked {
	background-color: #7fa3ba !important;
}

@media only screen and (max-width: 420px) {
	.list {
		position: absolute;
		top: 760px;
		left: 0px;
	}

	.list_button {
		position: absolute;
		top: 726px;
		left: 0px;
		width: 414px;
	}

	.list_button > button {
		background: transparent;
		border-radius: 10px 10px 0px 0px;
		height: 33px;
		margin-left: 1%;
		border: none;
		font-size: 14px;
		color: #ffffff;
		cursor: pointer;
	}

	.item_item {
		margin: 1%;
	}
}

@media only screen and (max-width: 768px) and (min-width: 420px) {
	.list {
		position: absolute;
		top: 140vw;
		left: 7vw;
	}

	.list_button {
		position: absolute;
		top: 137vw;
		left: 7vw;
		width: 40vw;
		height: 5vw;
	}

	.list_button > button {
		background: transparent;
		border-radius: 10px 10px 0px 0px;
		height: 3vw;
		margin-left: 1%;
		border: none;
		font-size: 1.8vw;
		color: #ffffff;
		cursor: pointer;
	}
}
